<ion-header [translucent]="true">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <ion-toolbar>
    
    <div id="jee">
      <div id ="divleft">
    <ion-title>
      Calculador de<br>volume
    </ion-title>
        </div>
        <div id="divright">
      <ion-button [routerLink]="['/home']" color="medium" >Voltar</ion-button>
      </div>
    </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcule o volume de objetos geométricos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="h1">Para pirâmide</div>
    
    <ion-item>
    <ion-label position="floating">Área da base</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para BASE." name="largura" [(ngModel)]="areabase"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para Altura." name="altura1" [(ngModel)]="altura"></ion-input>
    </ion-item>

    <br>

    <ion-item>
    <ion-button position="floating" color="warning" (click)="calcularArea()">Calcular</ion-button>
    <br>
    
    <br>
    <ion-label color="warning">{{resultado}}</ion-label>
    <br>
    </ion-item>

    <br>
    
    <div class="h1">Para cubo</div>
    
    <ion-item>
    <ion-label position="floating">Altura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para Altura." name="altura2" [(ngModel)]="altura2"></ion-input>
    </ion-item>

    <br>

    <ion-item>
    <ion-button color="warning" (click)="calcularArea()">Calcular</ion-button>
    <br>

    <br>
    <ion-label color="warning">{{resultado2}}</ion-label>
    <br>
    </ion-item>

  </div>
</ion-content>
