<ion-header [translucent]="true">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <ion-toolbar>
    
    <div id="jee">
      <div id ="divleft">
    <ion-title>
      Calculador de<br>volume
    </ion-title>
        </div>
        <div id="divright">
      <ion-button [routerLink]="['/home']" color="medium" >Voltar</ion-button>
      </div>
    </div>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcule o volume de objetos geométricos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="h1">Para triângulo</div>




    
  </div>
</ion-content>
