<ion-header [translucent]="true">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <ion-toolbar>
    <div id="jee">
      <div id ="divleft">
    <ion-title>
      Calculador de areas
    </ion-title>
        </div>
        <div id="divright">
    <a href="quadrado.page.html"><ion-button color="primary" (click)="calcularArea()">Proxima pagina</ion-button></a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcule a area do triângulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>


      <div class="h1">Para triângulo</div>


      <ion-label position="floating">Base</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para BASE." name="base" [(ngModel)]="base"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para Altura." name="altura" [(ngModel)]="altura"></ion-input>
    </ion-item>
    <br>
    <ion-button color="warning" (click)="calcularArea()">Calcular</ion-button>
    <br>
    <ion-label>...</ion-label>
    <br>
    <ion-label color="warning">{{resultado}}</ion-label>
    <br>
    <br>
    <ion-item>


      <div class="h1">Para quadrado</div>


      <ion-label position="floating">Largura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para BASE." name="largura" [(ngModel)]="largura"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para Altura." name="altura" [(ngModel)]="altura2"></ion-input>
    </ion-item>
    <br>
    <ion-button color="warning" (click)="calcularArea()">Calcular</ion-button>
    <br>
    <ion-label>...</ion-label>
    <br>
    <ion-label color="warning">{{resultado2}}</ion-label>
    <br>
    <br>
    <ion-item>


      <div class="h1">Para hexâgono</div>


      <ion-label position="floating">Apótema</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para o apotema." name="apotema" [(ngModel)]="apotema"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <br>
      <ion-input type="number" placeholder="Informe um valor para base." name="base" [(ngModel)]="base2"></ion-input>
    </ion-item>
    <br>
    <ion-button color="warning" (click)="calcularArea()">Calcular</ion-button>
    <br>
    <ion-label>...</ion-label>
    <br>
    <ion-label color="warning">{{resultado3}}</ion-label>
    <br><br><br>
    <a href="quadrado.page.html"><ion-button color="primary" (click)="calcularArea()">Proxima pagina</ion-button></a>
  </div>
</ion-content>